.container{
  width: 940px;
  padding: 10px;
}

.blue,
.yellow,
.red,
.green,
.empty{
  border: 1px solid black;
  display: inline-block;
  padding: 1px;
  text-align: center;
  width: 40px;
  height: 50px;
  vertical-align: top;
  margin-bottom: 5px;
}

p{
  margin: 0 auto;
  font-size: 70%;
  margin-top: 2px;
}

h3{
  color: blue;
  margin: 0 auto;
}

.headings{
  width: 42px;
  color: red;
  display: inline-block;
  padding: 1px;
  text-align: center;
  height: 50px;
  vertical-align: top;
  margin-bottom: 5px;
}

.empty{
  border: none;
  width: 42px;
}

.edge{
  margin-left: 10px;
}

.headings p{
  margin-top: 12px;
}

.blue{
  background-color: #479EF0;
}

.yellow{
  background-color: #FBCD37;
}

.red{
  background-color: pink;
}

.break{
  margin-top: 10px;
}

.green{
  background-color: #2DE525;
}

.extra{
  color: red;
  display: inline-block;
  margin-left: 5px;
}

.extra1{
  color: red;
  display: inline-block;
}

.extra p{
  margin-top: 15px;
}

.bottom{
  width: 100px;
  margin-left: 35px;
}

.bottom p{
  margin-top: 10px;
}
