<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Storyboard</title>
  </head>
  <body>
    <h1>Watchu tryna eat?!?</h1>
    <br>
    <h2>Choose the correct food...OR ELSE!!!</h2>


    <p> Choose an option!!! </p>

    <form action="/poison" method ="POST">
    <button type="submit" value="poison">Dish 1</button>
    </form>

    <form action="/reset" method="POST">
    <button type="submit" value="reset">Dish 2</button>
    </form>

    <p>Course {{session['course']}}</p>


  </body>
</html>
